
<div class="allbooks" *ngIf="libros.length>0; else noBooks">

    <div class="book_card" *ngFor="let libro of libros; let par = even;let impar = odd">
        <div class="book_cover">
            <img [src]="libro.photo" alt="" srcset="">
        </div>
        <div class="book_atributes">
            <h3>Title:</h3>
            <h2>{{libro.titulo}}</h2>
            <hr>
            <p>Id Libro: {{libro.id_libro | idCode}}</p>
            <p>Id Usuario: {{libro.id_usuario}}</p>
            <p>Tipo de libro: {{libro.tipoLibro}}</p>
            <p>Autor: {{libro.autor}}</p>
            <p>Precio: {{libro.precio}}</p>
            <hr>
            <br>
            <button [ngClass] = "{button_even : par , button_odd : impar}" > Comprar </button>
        </div>
    </div>
</div>


<ng-template #noBooks>
<div class="allbooks">
    <div class="no_books">
        <h2>No hay libros</h2>
    </div>
</div>
</ng-template>

<div class="form">
    <div class="form_body">
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off" #inputTitle>
        <label for="name">Título</label>
    </div>
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off" #inputType>
        <label for="name">Tipo de libro</label>
    </div>
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off" #inputAuthor>
        <label for="name">Autor</label>
    </div>
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off" #inputPrice>
        <label for="name">Precio</label>
    </div>
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off" #inputCover>
        <label for="name">Portada</label>
    </div>
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off" #inputBookId>
        <label for="name">Id del libro</label>
    </div>
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off" #inputUserId>
        <label for="name">Id del usuarios</label>
    </div>
</div>
<div class="form_button">
    <button (click)="addBook(inputTitle.value,inputType.value,inputAuthor.value,inputPrice.value,inputCover.value,inputBookId.value,inputUserId.value)">Añadir libro</button>
</div>
</div>