.navbar{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: space-between;
    height: auto;
    padding-right: 50px;
    padding-left: 50px;
    gap: 10px;
}
.navbar_left{
    display: flex;
    flex-direction: row;
}
.navbar_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}
